{#{{ form(form, {'method': 'GET'}) }}#}

{#{{ form_start(form) }}#}
{#    {{ form_widget(form) }}#}
{#{{ form_end(form) }}#}


{{ form_start(form) }}
{#{{ form_start(form, {'action': path('target_route'), 'method': 'GET'}) }}#}
    {{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}